node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
public/uploads/tasks/*
public/uploads/submissions/*
public/uploads/profiles/*
!public/uploads/tasks/.gitkeep
!public/uploads/submissions/.gitkeep
!public/uploads/profiles/.gitkeep
!public/uploads/profiles/default-profile.svg
